body {
  font-size: 16;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

pre {
  border: 1px solid black;
}

canvas {
  border: 1px solid black;
}

.innerBody {
  display: flex;
  justify-content: center;
}

.flexContainer {
  display: flex;
}

.blockContainer {
  display: block;
}

.borderLine {
  width: 0;
  border-left: 2px solid black;
  height: 40%;
}

.colorSelector {
  position: relative;
  width: 16px;
  height: 16px;
}

.colorPreview {
  margin-left: 5px;
  margin-top: 1px;
  width: 16px;
  height: 16px;
  background: black;
  border: 2px solid black;
}
