body {
  background: black;
}

canvas {
  border: 3px solid white;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%);
}

.controls {
  position: absolute;
  bottom: -60px;
  width: 100%;
  display: flex;
}

.controls > input {
  width: 50%;
}

.controls > label {
  width: 30%;
  color: white;
  font-size: 20px;
}
